@use "../../abstracts/colors";
.save{
    font-size: 100%;
    height: min-content;
    padding:2rem;
    background: map-get(colors.$cookie, "spots");
    color: whitesmoke;
    border: none;
    width: 20rem;
    transform: translateY(2.5rem);
    border-radius: 0.5rem;
    transition: 0.2s all;

    & > i {
        display: none;
        padding: 0.7rem;
    }

    &:hover{
        cursor: pointer;
        background: whitesmoke;
        color: map-get(colors.$cookie, "spots");
    }

    &:hover > i {
        display: inline;
    }
}